/* stile della pagina welcome*/
body{
    background-image: url(assets/bg.jpg);
    margin: 0;
    height: 100vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container{
    width: 85%;
    border: solid white;
    margin: 0 auto;
}
header img{ 
    width: 12%;
    margin-top: 40px;
    border: solid red;
}
.h1Welcome{
    color: white;
    margin-bottom: 25px;
    
}
.h1Welcome{
    margin-top: 80px;
    font-size: 80px;
    font-family: outfit;
    font-weight: 300;
    
}


.h2Welcome{
    font-size: 2em;
    color: #d20094;
    margin-bottom: 8px;
    margin-top: 2px;
    font-family: outfit;
    font-weight:600;
}
.pWelcome{
    margin-top: 0;
    color: white;
}

.ulWelcome{
    margin-top: 45px;
  margin-left: -10px;  
}
.ulWelcome li {
    
    font-weight: 400;
    color: white;
}
.labelWelcome{
    color: white;
    margin-top: 300px;
}

.h1Welcome span, .ulWelcome li span{
    color: white;
    font-size: larger;
    font-weight: bold;
    
}
.finalDivWelcome{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-top: 70px;
    
}
#proceedButton{
    padding: 20px;
    padding: 20px 60px; 
    font-size: 20px; 
    font-weight: bold; 
    background-color: #00ffff; 
    color: black; 
    border: none; 
    border-radius: 0px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    cursor: pointer; 
    transition: all 0.3s ease;
    
}
#proceedButton:hover {
    background-color: #00ffff; 
    box-shadow: 0 0 20px #00ffff, 0 0 30px #00ffff; 
}

.proceedCheckbox {
    width: 20px; 
    height: 20px; 
    accent-color: #00ffff; 
    margin-right: 10px; 
    
    appearance: none; 
    -webkit-appearance: none; 
    width: 20px; 
    height: 20px; 
    border: 3px solid white; 
    border-radius: 0px; 
    background-color: transparent;
    margin-bottom: -5px;
}

.proceedCheckbox:checked::after {
    content: ''; 
    position: absolute;
    width: 5px; 
    height: 10px; 
    border: solid white; 
    border-width: 0 2px 2px 0; 
    transform: rotate(45deg); 
    top: 630px; 
    left: 105px; 
}

.labelWelcome {
    font-size: 16px; 
    color: white;
   
}

/*fine stile pagina welcome*/